<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        * {
            margin: 0;
        }
        
        ul,
        main {
            display: inline-block;
            border: solid;
        }
        
        main {
            width: 85%;
        }
        
        ul {
            vertical-align: top;
        }
        section{
            margin: 10px 20px;
        }
    </style>
</head>

<body>
    <div id="box">
        <ul>
            <li>A</li>
            <li>B</li>
            <li>C</li>
        </ul>
        <main>
            <section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque aliquam expedita autem dolor similique nam quidem eum minus dicta perspiciatis mollitia neque sit, at tenetur id corporis. Voluptatibus, neque!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque aliquam expedita autem dolor similique nam quidem eum minus dicta perspiciatis mollitia neque sit, at tenetur id corporis. Voluptatibus, neque!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque aliquam expedita autem dolor similique nam quidem eum minus dicta perspiciatis mollitia neque sit, at tenetur id corporis. Voluptatibus, neque!</p>
            </section>
        </main>
    </div>
</body>
</html>